@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Roboto+Condensed:wght@400;700&display=swap");

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Dark and Light Modes */
body.bg-dark {
  background-color: #1e1e2f !important;
  color: #e0e0e0 !important;
}

.app-container.bg-dark {
  background-color: #121212 !important;
}

button {
  z-index: 1000; /* Ensure the button appears above other elements */
  opacity: 1; 
}

/* Message List */
.message-list {
  overflow-y: auto;
  padding-bottom: 10px;
}

/* Message Bubble Styles */
.message {
  margin: 5px 0;
}
.message .bg-primary {
  border-radius: 15px 15px 0px 15px;
}
.message .bg-secondary {
  border-radius: 15px 15px 15px 0px;
}

/* Input Container */
.input-container {
  position: sticky;
  bottom: 0;
  background-color: #f8f9fa;
}

/* Button Icon Styling */
.btn i {
  font-size: 1.5em;
}